<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<h2>{{ course.title }}</h2>
<h4>{{ course.description }}</h4>

<h3>Students list</h3>
{% for student, dict in result_dict.items %}
    <li>{{ student }}
    {% for key, value in dict.items %}
        <p>{{ key }}: {{ value.0 }} / {{ value.1 }}</p>
    {% endfor %}
    </li>
{%  endfor %}

<p>
<a href="/teacher/courses/{{ course.id }}">go back</a>
</p>