<h2>Training Courses</h2>
{% for course in page_obj %}
<li><a href="/teacher/courses/{{ course.id }}">{{ course.name }}</a></li><br>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<form class="form" action="{% url 'add_users_from_csv' %}" method="post">
    {% csrf_token %}
    <div>
        <button type="submit" class="btn btn-primary">Add users</button>
    </div>
</form>
<p>
    <a href="/">go back</a>
</p>

