<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

<h2>{{ course.title }}</h2>
<h4>{{ course.description }}</h4>

<h3><a href="/teacher/courses/{{ course.id }}/results">Results</a></h3>

<h3>All exams</h3>
{% for exam in course.exams.all %}
<li><a href="/teacher/courses/{{ course.id }}/exams/{{ exam.id }}">{{ exam.title }}</a></li><br>
{% endfor %}

<h3>Lessons</h3>
{% for lesson in course.lessons.all %}
<li><a href="/teacher/courses/{{ course.id }}/lessons/{{ lesson.id }}">{{ lesson.title }}</a></li><br>
{% endfor %}

<p>
    <a href="/teacher">go back</a>
</p>
