<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<h2>{{ course.title }}</h2>
<h4>{{ course.description }}</h4>

<h3><a href="/courses/{{ course.id }}/results">Results</a></h3>

<h3>Available exams</h3>
{% for exam in available_exams %}
    <li><a href="/courses/{{ course.id }}/exams/{{ exam.id }}">{{ exam.title }}</a></li><br>
{% endfor %}

<h3>Previous exams</h3>
{% for exam in previous_exams %}
    <li><a href="/courses/{{ course.id }}/exams/{{ exam.id }}">{{ exam.title }}</a></li><br>
{% endfor %}


<h3>Lessons</h3>
{% for lesson in page_obj_lessons %}
    <li><a href="/courses/{{ course.id }}/lessons/{{ lesson.id }}">{{ lesson.title }}</a></li><br>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj_lessons.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj_lessons.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj_lessons.number }} of {{ page_obj_lessons.paginator.num_pages }}.
        </span>

        {% if page_obj_lessons.has_next %}
            <a href="?page={{ page_obj_lessons.next_page_number }}">next</a>
            <a href="?page={{ page_obj_lessons.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<p>
<a href="/courses">go back</a>
</p>
