<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<h1>{{ user.first_name }} {{ user.last_name }}</h1>
<h2>{{ course.title }}</h2>
<h4>{{ course.description }}</h4>

<h3>Student points</h3>
{% for exam, pair in results.items %}
    <li>{{ exam }}: {{ pair.0 }} / {{ pair.1 }}</li>
{%  endfor %}

<p>
<a href="/courses/{{ course.id }}">go back</a>
</p>