<h2>{{ exam.title }}</h2>
<h4>{{ exam.description }}</h4>
<p>exam is available to {{ exam.available_to }}</p>

<h3>Results</h3>

{% for student, pair in results.items %}
<ul>{{ student.last_name }} {{ student.first_name }}: [{{ pair.1 }}/{{ max_points }}]: <a
        href="{{ exam.id }}/students/{{ student.id_card_number }}">open</a></ul>
{% endfor %}

<p>
    <a href="/teacher/courses/{{ course_id }}">go back</a>
</p>

