<h2>{{ exam.title }}</h2>
<h4>{{ exam.description }}</h4>
<h4>Student: {{ student.first_name }} {{ student.last_name }}</h4>


<form method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

<p>
    <a href="/teacher/courses/{{ course_id }}/exams/{{ exam.id }}">go back</a>
</p>
