{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <div style="text-align:center">Hi! Welcome to JustLearnFirstAid!</div>
  <p><a href="{% url 'logout' %}">logout</a></p>
  {% if user.is_staff %}
  <p><a href="/teacher">Teacher Panel</a></p>
  {% else %}
  <p><a href="/courses">Student Panel</a></p>
  {% endif %}
  <p><a href="/password">Change Password</a> </p>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}