<h2>{{ exam.title }}</h2>
<h4>{{ exam.description }}</h4>
<p>exam is available to {{ exam.available_to }}</p>

<form method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

<a href="/courses/{{ course.id }}">go back</a>