<h2>{{ exam.title }}</h2>

<h3>Questions</h3>
{% for question_answer in open_question_answers %}
    <li>{{ question_answer }}</li><br>
{% endfor %}

<p>Result = {{ all_points }}/{{ max_points }}</p>

<a href="/courses/{{ course_id }}">go back</a>