<meta http-equiv="Content-type" content="text/html; charset=utf-8" />


{% load template_filters %}

<h2>{{ lesson.title }}</h2>
<h4>{{ lesson.description }}</h4>
<p>
    {% for item in lesson.items.all %}
        {% if item.type == 'Text' %}
            <p>
            {% for line in item.data|print_file_in_lines %}
                {{ line }}<br>
            {% endfor %}
            </p>
        {% endif %}
        {% if item.type == 'Image' %}
            <img src="{{ item.data.url }}">
        {% endif %}
        {% if item.type == 'Video' %}
<!--            <video src="{{ item.data.url }}"/>-->
            <video width="640" height="480" controls autoplay>
              <source src="{{ item.data.url }}" type="video/mp4"/>
            Your browser does not support the video tag.
            </video>
        {% endif %}
    {% endfor %}
</ul>

<p>
<a href="/teacher/courses/{{ course_id }}">go back</a>
</p>
