<div style="text-align:center">{{ user.first_name }} {{ user.last_name }}! You cannot change Password!</div>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Save changes</button>
</form>
<p>
    <a href="/"/>go back</a>
</p>